<template>
  <div class="podcast">
    <loading :loading="loading!==0"></loading>
	<div class="columns is-multiline is-mobile">
		<div class="column is-one-quarter">

	       	<item :image="details.artworkUrl600 | image" :title="details.collectionName" :author="details.artistName" :description="details.description" :link="{name:'Podcast', idPodcast: idPodcast}" :imageClass="'squareimage'" :cardClass="'episode-car'"></item>
		</div>
		<div class="column is-offset-1">


		        <div class="box has-text-left">	

					<p>
			        	<strong>{{episode.title}}</strong>
			      	</p>
			      	<p v-html="episode.summary"></p>

					<hr/>
					<div>
					    <audio controls preload="none" controlsList="nodownload" ref="player">
					      <source :src="episode.url" type="audio/mp3"> Your browser does not support the audio element.
					    </audio>
					</div>
						
		        </div>
	
		</div>
	</div>

    
  </div>
</template>

<script>

import { getPodcastDetail } from '../../utils/itunes-api';
import { getRSS } from '../../utils/itunes-api';

export default {
  	name: 'podcast',
  	data () {
	    return {
			episode : {},
			details : {},
			idPodcast: -1,
			loading:0
	    }
  	},

	mounted () {
		this.loading++;
		this.idPodcast = this.$route.params.idPodcast;
		var idEpisode = this.$route.params.idEpisode;
	  	getPodcastDetail(this.idPodcast).then((data) => {
			this.loading--;
	  		if(data.results.length===0){
	  			console.error(`${idPodcast} not found results`);
	  		} else {
				this.loading++;
	  			//Only use first element
	  			this.details = data.results[0];
	  			getRSS(data.results[0].feedUrl).then((podcast) =>{
		  			for(var i in podcast.items){
		  				var episode = podcast.items[i];
		  				if(episode.guid === idEpisode){
		  					this.episode = episode;
		  					break;
		  				}

		  			}
					this.loading--;
	  				
		  		});

	  		}
	  		
	        
	    });

	}
}
</script>


<style>

	.squareimage{
	    border-radius: 0% !important;
	    border-radius: 0% !important;
	    top: 10px !important;
	    -webkit-box-shadow: 0 0px 3px 0 rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	    box-shadow: 0 0px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	}

	.episode-card{
		padding-top: 20px !important;
	}

	img, embed, object, audio, video {
	    width: 100%;
	}

</style>