<template>
  <div class="list">
    <loading :loading="loading!==0"></loading>
	<div class="columns is-mobile">
		<div class="column is-1 is-offset-7"><span class="tag is-info is-pulled-right">{{numberElements}}</span></div>
		<div class="column is-4"><input class="input" type="text" placeholder="Filter podcast..." v-model="search"></div>
	</div>

	<div class="columns is-multiline is-mobile">
	    <item class="column is-3" :image="item['im:image'][2].label | image" :title="item['im:name'].label" :author="item['im:artist'].label" v-for="item in saveNumberElements(filterBy(listPosdcast, search, 'im:name.label', 'im:artist.label'))" :key="item.id.attributes['im:id']":link="{ name: 'Podcast', params: { idPodcast: item.id.attributes['im:id'] }}" :cardClass="'list-card'" :imageClass="'list-image'"></item>

	    
	</div>
  </div>
</template>

<script>

import { getListPodcast } from '../../utils/itunes-api';


export default {
  	name: 'list',
  	data () {
	    return {
	    	listPosdcast: [],
	    	search: "",
	    	numberElements: 0,
			loading: 0
	    }
  	},

  	mounted() {
  		this.loading++;
	  	getListPodcast(100).then((podcast) => {
	        this.listPosdcast = podcast;
  			this.loading--;
	    });
  	},

	methods: {
	    saveNumberElements(list){
	    	this.numberElements = list.length;
	        return list;
	    },
	}
}
</script>


<style>

.tag{
	height: 100%;
}

.list-card{
    padding-top: 90px !important;
}

.list-image{
	width: 170px !important;
}
</style>