<template>
  <div class="podcast">
    <loading :loading="loading!==0"></loading>
	<div class="columns is-multiline is-mobile">
		<div class="column is-one-quarter">

	       	<item :image="details.artworkUrl600 | image" :title="details.collectionName" :author="details.artistName" :description="details.description" :link="{name:''}" :imageClass="'squareimage'" :cardClass="'mycard'"></item>
		</div>
		<div class="column is-offset-1">


		        <div class="box">
		          <p class="has-text-left"><strong>Episodes: {{episodes.length}}</strong></p>
		        </div>
		        <div class="box">
		        	<table class="table is-striped is-fullwidth">
						  	<thead>
							    <tr>
							      <th><abbr title="Position">Title</abbr></th>
							      <th>Date</th>
							      <th><abbr title="Played">Duration</abbr></th>
							    </tr>
							</thead>
							<tbody>
			    				<tr v-for="episode in episodes">
								    <th>
										<router-link :to="{ name: 'Episode', params: { idPodcast: idPodcast, idEpisode: episode.guid }}">
									    	{{episode.title}}
									    </router-link>
								    </th>
								    <td>{{episode.date_published | formatDate('DD/MM/YYYY')}}</td>
								    <td>{{episode.duration}}</td>
							    </tr>
							</tbody>
					</table>
		        </div>
	
		</div>
	</div>

    
  </div>
</template>

<script>

import { getPodcastDetail } from '../../utils/itunes-api';
import { getRSS } from '../../utils/itunes-api';

export default {
  	name: 'podcast',
  	data () {
	    return {
			episodes : [],
			details : {},
			idPodcast: -1,
			loading: 0
	    }
  	},

	mounted () {
		this.idPodcast = this.$route.params.idPodcast;
		this.loading++;
	  	getPodcastDetail(this.idPodcast).then((data) => {
	  		this.loading--;
	  		if(data.results.length===0){
	  			console.error(`${idPodcast} not found results`);
	  		} else {
	  			//Only use first element
	  			this.loading++;
	  			this.details = data.results[0];
	  			getRSS(data.results[0].feedUrl).then((podcast) =>{
		  			this.episodes = podcast.items;
		  			this.details.description = podcast.feed?podcast.feed.description:podcast.description;
	  				this.loading--;
	  				
		  		});

	  		}
	  		
	        
	    });

	}
}
</script>


<style>

	.squareimage{
	    border-radius: 0% !important;
	    border-radius: 0% !important;
	    top: 10px !important;
	    -webkit-box-shadow: 0 0px 3px 0 rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	    box-shadow: 0 0px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	}

	.mycard{
		padding-top: 20px;
	}

</style>